@import "../../global.scss";

.login__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ffffff;
  align-items: center;

  @include mobile {
    display: block;
    margin: 0;
    position: fixed;
  }

  .login__left {
    display: flex;
    flex-direction: column;
    padding: 50px;

    @include mobile {
      visibility: hidden;
      height: 1vh;
    }

    .login__logo {
      padding-left: 5px;
      padding-top: 50px;
    }
    .logo__signin {
      padding-top: 100px;

      img {
        width: 600px;
        height: 337.57px;
      }
    }
  }

  .login__right {
    height: 100vh;
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;

    @include mobile {
      display: block;
      padding: 20px;
      box-shadow: none;
    }

    h1 {
      font-weight: 700;
      font-size: 40px;
      line-height: 55px;
      letter-spacing: -0.04em;
      color: #213f7d;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      padding-top: 5px;
      padding-bottom: 20px;
      color: #545f7d;
    }
    input {
      width: 447px;
      height: 50px;
      margin: 10px 0px;
      background: #ffffff;
      border: 2px solid rgba(84, 95, 125, 0.15);
      border-radius: 5px;
      padding-left: 10px;

      @include mobile {
        width: 300px;
      }
    }

    ::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #545f7d;
    }
    input:focus {
      outline: none;
    }
    .login__password {
      position: relative;
    }

    .login__password__show {
      position: absolute;
      top: 20px;
      left: 400px;
      cursor: pointer;

      @include mobile {
        left: 260px;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #39cdcc;
      cursor: pointer;
      padding: 10px 0px;
    }
    button {
      width: 450px;
      height: 50px;
      background: #39cdcc;
      border-radius: 8px;
      border: 1px solid #ffffff;
      margin: 10px 0px;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;

      @include mobile {
        width: 320px;
      }

      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}

// @media screen and (max-width: 768px) {
//   .login__container {
// display: block;
// margin: 0;
// position: fixed;

//     .login__left {
//      visibility: hidden;
//      height: 1vh;
//     }

//     .login__right {
//       display: block;
//       padding: 20px;
//       box-shadow: none;

//       input {
//         width: 300px;
//       }

//       button {
//         width: 320px;
//       }

//       .login__password__show {
//         left: 260px;
//       }
//     }
//   }
// }
